<div
  class="flex flex-col-reverse sm:flex-row sm:p-4 bg-white rounded-none sm:rounded-2xl"
>
  <div class="px-8 py-16">
    <h1 class="text-5xl font-bold mb-7">Stay updated!</h1>

    <p class="mb-7">
      Join 60,000+ product managers receiving monthly updates on:
    </p>

    <app-newsletter-list-item
      text="Product discovery and building what matters"
    ></app-newsletter-list-item>
    <app-newsletter-list-item
      text="Measuring to ensure updates are a success"
    ></app-newsletter-list-item>
    <app-newsletter-list-item text="And much more!"></app-newsletter-list-item>

    <div class="mt-12">
      <div class="flex justify-between text-sm font-bold">
        <label for="email-address"
          >E-mail address</label
        >
        <p class="text-red-400" *ngIf="emailAddress.invalid && emailAddress.dirty">Valid email required</p>
      </div>
      <input
        class="w-full rounded-md focus:outline-none border-gray-400 focus:border-black hover:border-black border-2 p-3 mt-1"
        [ngClass]="emailAddress.invalid && emailAddress.dirty ? 'bg-red-100 text-red-400 border-red-200 focus:border-red-400 hover:border-red-400' : ''"
        id="email-address"
        type="email"
        placeholder="email@company.com"
        [formControl]="emailAddress"
      />

      <button
        class="function-button w-full bg-dark-slate-grey text-white rounded-md py-4 mt-5"
        (click)="subscribe()"
      >
        Subscribe to monthly newsletter
      </button>
    </div>
  </div>
  <picture>
    <source
      media="(min-width: 640px)"
      srcset="../../../assets/images/illustration-sign-up-desktop.svg"
    />
    <img
      class="min-w-0 w-full sm:w-auto"
      src="../../../assets/images/illustration-sign-up-mobile.svg"
    />
  </picture>
</div>
