@tailwind base;
@tailwind components;
@tailwind utilities;

@import "colors.scss";

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto;
}

.bg-dark-slate-grey {
  background-color: $dark-slate-grey;
}

.subscribe-button:hover {
  background: linear-gradient(to right, $tomato 50%, orange);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
